<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('partials/head.ejs') %>
    <title>Login</title>
   
  </head>
  <body>
    <div class="container">
        <header class="header navbar navbar-expand-lg navbar-light bg-light"">
            <ul class= "container-fluid navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
            </ul>
        </header>
      <form action="login" method="POST" class="form-control">
        <h1 class="text-center">Login</h1>
        <!-- <label for="username">User Name:</label> -->
        <input
        class="form-control"
          type="email"
          name="email"
          id="useremail"
          placeholder="Enter User Email"  required
        />
        <div class="pass_eye"><input type="password" class="form-control" name="password" id="password" placeholder="Enter Password" required>
          <i class="far fa-eye" id="togglePassword"></i>
        </div>
        
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      <div class="footer">
      <p class="text-center foot">Haven't Registered Yet? <a href="/register"  class="nav-link">Register Here</a></p>
    </div>
    </div>
    <script src="/js/formvalidation.js"></script>
    <script>
    
    </script>
  </body>
</html>
