@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 0.03rem;
}

h1 {
  font-size: 1.5rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 900;
}

a {
  width: fit-content;
}

a:hover {
  cursor: pointer;
}

input {
  margin: 0.5rem auto;
}

button[type='submit'] {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 900;
}

.error {
  color: red;
}

i {
  color: black !important;
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 1rem 10rem;
  }
  form {
    padding: 0.5rem 5rem !important;
  }
  header ul {
    display: flex !important;
    justify-content: flex-end !important;
  }
}

.session-name {
  display: flex;
}

.foot {
  display: flex;
  justify-content: center;
}

a {
  padding: 0 0.5rem !important;
  font-weight: 900;
}

.navbar {
  margin: 1rem 0;
  padding: 0;
}

.navbar .nav-link {
  margin: 0.2rem 0;
}

.pass_eye {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: -0.5rem;
}

.pass_eye input {
  width: 100% !important;
}

.pass_eye i {
  position: absolute;
  right: 1rem;
}

.footer {
  margin: 0.5rem 0;
}

@media screen and (min-width: 1024px) {
  .navbar {
    margin: 1rem -5rem;
  }
  .navbar .nav-link {
    margin: 1rem 0;
  }
}

.error_container {
  z-index: 1000;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  grid-column-gap: 1rem;
  padding: 0.5rem;
  background-color: rgba(233, 189, 189, 0.986);
  height: auto;
  color: red;
  position: absolute;
  top: 5rem;
  right: 1.1rem;
  border: 1px solid red;
  border-left: 4px solid red;
  box-shadow: 0px 0px 2rem rgba(0, 0, 0, 0.2);
  align-items: center;
}

@media (min-width: 768px) {
  .error_container {
    width: fit-content;
  }
}

.error_container--success {
  border: 1px solid green;
  border-left: 4px solid green;
  color: green;
  background-color: #cbddcb;
}

.error_container--success .col--1 .error_container__icon .fa-check-circle::before {
  color: green;
}

.error_container--success .col--2 #cancelLogin {
  color: green;
}

.error_container--success .col--3 i::before {
  color: green;
}

.error_container--info {
  border: 1px solid blue;
  border-left: 4px solid blue;
  color: blue;
  background-color: lightblue;
}

.error_container--info .col--1 .error_container__icon .fa-check-circle::before {
  color: blue;
}

.error_container--info .col--2 #cancelLogin {
  color: blue;
}

.error_container--info .col--3 {
  align-items: center;
}

.error_container--info .col--3 i::before {
  color: blue;
}

.error_container__icon {
  align-items: start;
}

.error_container__icon .fa-times {
  transform: translateY(-0.5rem);
  font-size: 1.25rem;
  color: red;
}

.error_container__title {
  font-size: 1.3rem;
}

.error_container #cancelLogin {
  color: red;
  text-align: center;
  font-size: 0.85rem;
}

.col--1 i {
  transform: translateY(-0.5rem);
  font-size: 1.25rem;
}

.editRolePopUp {
  width: 400px;
  height: 250px;
  background-color: aquamarine;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-200px, -125px);
  z-index: 100;
}

.edit-role {
  cursor: pointer;
}

.btn {
  width: 8rem;
  cursor: pointer;
}

.bold {
  font-weight: 900;
}

.overlay {
  background-color: #7a7878;
  opacity: 0.75;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

i.cancle {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  cursor: pointer;
}

i.cancle::before {
  color: darkred;
}

.display_none {
  display: none;
}

.container-big {
  padding: 2rem 0rem;
}

.table-container {
  overflow: auto;
  scroll-behavior: smooth;
  max-height: 70vh !important;
}

.parent {
  position: relative;
}

.scroll-to-left {
  background-color: burlywood;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 3rem;
  bottom: 3rem;
  cursor: pointer;
}

.scroll-to-left:hover .fa-chevron-left {
  transform: translateX(-5px);
  transition-duration: 0.5s;
  cursor: pointer;
}

.scroll-to-left span {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.scroll-to-left .fa-chevron-left {
  transform: translateX(0);
  transition-duration: 0.5s;
}

.scroll-to-left .fa-chevron-left::before {
  font-size: 20px !important;
  color: indigo;
}

.scroll-to-left .dot {
  display: flex;
  align-items: center;
}

.scroll-to-left .dot::before {
  font-size: 8px !important;
  color: indigo;
}

table,
.dealer-table {
  width: 230rem;
}

table thead,
.dealer-table thead {
  position: sticky;
  top: 0;
}

table thead,
table tbody,
.dealer-table thead,
.dealer-table tbody {
  font-weight: 900;
  border: 1px solid black;
}

table thead th:first-child,
table tbody th:first-child,
.dealer-table thead th:first-child,
.dealer-table tbody th:first-child {
  position: sticky !important;
  left: 0;
  top: 0;
}

table thead th,
table tbody th,
.dealer-table thead th,
.dealer-table tbody th {
  color: indigo;
  padding: 1rem;
  position: sticky;
  top: 0;
  border: 1px solid black;
  text-align: center;
  height: 5rem;
}

table thead th .filterTag,
table tbody th .filterTag,
.dealer-table thead th .filterTag,
.dealer-table tbody th .filterTag {
  display: flex;
  justify-content: center;
  align-items: center;
}

table thead th .filterTag i,
table tbody th .filterTag i,
.dealer-table thead th .filterTag i,
.dealer-table tbody th .filterTag i {
  cursor: pointer;
  margin-left: 0.5rem;
}

table thead th .form-select, table thead th .form-sort,
table tbody th .form-select,
table tbody th .form-sort,
.dealer-table thead th .form-select,
.dealer-table thead th .form-sort,
.dealer-table tbody th .form-select,
.dealer-table tbody th .form-sort {
  position: absolute;
  left: 0;
  top: 5rem;
  width: 100%;
}

table thead td,
table tbody td,
.dealer-table thead td,
.dealer-table tbody td {
  border: 0.5px dotted black;
  text-align: center;
}

table thead td:first-child,
table tbody td:first-child,
.dealer-table thead td:first-child,
.dealer-table tbody td:first-child {
  position: sticky;
  left: 0;
}

table thead td .edit-delete,
table tbody td .edit-delete,
.dealer-table thead td .edit-delete,
.dealer-table tbody td .edit-delete {
  display: flex;
  width: 4rem;
  justify-content: center;
  align-items: center;
}

table thead td .edit-delete form,
table tbody td .edit-delete form,
.dealer-table thead td .edit-delete form,
.dealer-table tbody td .edit-delete form {
  padding: 0 !important;
}

table thead td .edit,
table tbody td .edit,
.dealer-table thead td .edit,
.dealer-table tbody td .edit {
  padding: 0;
  margin: 0 0.2rem;
  background: none;
  border: none;
}

table thead td .edit:hover,
table tbody td .edit:hover,
.dealer-table thead td .edit:hover,
.dealer-table tbody td .edit:hover {
  cursor: pointer;
}

table thead td .tooltiptext,
table tbody td .tooltiptext,
.dealer-table thead td .tooltiptext,
.dealer-table tbody td .tooltiptext {
  display: none;
}

.dealer-form {
  position: relative;
  bottom: 0;
}

.dealer-form td {
  padding: 0;
}

.dealer-form input.form-control {
  margin: 0;
  width: 100% !important;
  padding: 0 !important;
}

.dealer-form-btn {
  position: absolute;
  z-index: 10;
}

.upload {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1024px) {
  .upload {
    flex-direction: column;
  }
}

.upload form {
  width: 50%;
  display: flex;
  padding: 0 1rem !important;
}

.upload form input {
  margin: 0;
}

.btn {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.1rem;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination a {
  text-decoration: none;
}

.pagination li:not(.dots):not(:first-child):not(:last-child) {
  border: 1px solid indigo;
  margin: 2px;
  background-color: #a7ffff;
}

.pagination li:not(.dots):not(:first-child):not(:last-child):hover {
  background-color: mediumaquamarine;
}

.pagination .active {
  background-color: black !important;
  color: blanchedalmond;
}

#edit-form-container {
  position: relative;
  width: 500px;
  height: 500px;
  background-color: burlywood;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -125%);
  display: none;
  z-index: 100;
}

#update-data-form {
  height: 500px;
  width: 100%;
  overflow: auto;
  position: absolute;
}

#cancle1 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

#filtBtn {
  position: absolute;
  top: -2.5rem;
  right: 0;
}
