.foot{
    display: flex;
    justify-content: center;
}
a{
   
    padding: 0 0.5rem !important;
    font-weight: 900;
    
}
.pass_eye{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    input{
        width: 100% !important;
    }
    i{
        position: absolute;
        right: 1rem;
    }
}